<div id="add-to-favourites-auth-popup" data-reveal class="reveal tiny">
      <div class="row column text-center">

          <p>{{ _('Чтобы сохранять список, вам нужно:') }}</p><a href="{{ widget.param('login_url') }}" title="" class="button expanded">{{ _('Войти') }}</a>
          <p>{{ _('или') }}</p><a href="{{ widget.param('register_url') }}" title="" class="button expanded">{{ _('Зарегистрироваться') }}</a>

      </div>
      <button data-close aria-label="Закрыть" class="close-button"><span aria-hidden="true">&times;</span></button>
</div>